<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<style>
  table {
    width: 75%;
    /*border: 1px solid #444444;*/
    margin-left:1rem;
  }
  th, td {
    border: 1px solid #444444;
  }
</style>
<table class="table">
  <thead>
    <tr>
      <th th:each="col: ${cols}" th:text="col">col1</th>
    </tr>
  </thead>
  <tbody>
  <tr th:each="row: ${rows}">
    <td th:each="col: ${cols}" th:text="${row.get(col)}"></td>
  </tr>
  </tbody>
</table>

<table class="table">
  <thead>
  <tr>
    <th th:each="col: ${cols}" th:text="col">col1</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="row: ${rows}">
    <td th:each="col: ${cols}" th:text="${row.get(col)}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>