<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('Board')">
    <title>Call API</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('Call API')">
    </nav>
    <div class="input-group mb-3 col-sm-4">
        <form action="/callapi/identity" th:action="@{/callapi/identity}" method="GET" th:object="${String}">
            <input type="text" name="stock_code" class="form-control" placeholder="Stock Code">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="input-group mb-3 col-sm-4">
        <form action="/callapi/identity" th:action="@{/callapi/identity}" method="GET" th:object="${String}">
        <input type="text" name="corp_code" class="form-control" placeholder="Corperation Code">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <div>
        <div>
            <span th:text="${response}"></span>
        </div>
        <table style="border: 12rem; margin-left:1rem;" class="table";>
            <thead>
            <tr>
                <th scope="col">Fields</th>
                <th scope="col">Data</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="jsonMap: ${jsonMap}">
                <td th:text="${jsonMap.key}" />
                <td th:text="${jsonMap.value}" />
            </tr>
            </tbody>
        </table>
    </div>


    <footer th:replace="fragments/common :: footer"></footer>
</body>

</html>