<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('Board')">
    <title>Call API</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('Call API')">
    </nav>
    <div class="input-group mb-3 col-sm-4">
        <form action="/callapi/identity" th:action="@{/callapi/identity}" method="POST">
<!--        <input type="text" name="test" th:field="*{test}" class="form-control" placeholder="corp_code">-->
        <input type="text" name="test" class="form-control" placeholder="corp_code">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <div>
        <div>
            <span th:text="${response}"></span>
        </div>
        <span th:text="${jsonInString}"></span>
    </div>


    <footer th:replace="fragments/common :: footer"></footer>
</body>

</html>