<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--<p th:text="'columns - ' + ${BS.columns}">반갑습니다. Welcome!!</p>-->
<!--<p th:text="'rows - ' + ${BS.rows}">반갑습니다. Welcome!!</p>-->
<!--<p th:text="'cells - ' + ${BS.cells}">반갑습니다. Welcome!!</p>-->
<style>
  table {
    width: 75%;
    /*border: 1px solid #444444;*/
    margin-left:1rem;
  }
  th, td {
    border: 1px solid #444444;
  }
</style>
<table class="table">
  <thead>
    <tr th:each="depth: ${#numbers.sequence(0,2)}">
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col" th:each="column: ${SCE.columns}" th:if="${column.getDepth()==depth}" th:text="${column.getColumnName()}" th:attrappend="colspan=${column.getChildColumns().size()}">3기</th>
      <th scope="col" th:if="${depth}==2">합계</th>
    </tr>
  </thead>
  <tbody>
  <tr th:each="row : ${SCE.rows}">
    <td th:text="${row.getDocType()}"></td>
    <td th:text="${row.getRowName()}"/>
    <td th:each="cell: ${row.getCells()}" th:text="${cell.getValue()}"/>
  </tr>
  </tbody>
</table>

  <table style="border: 12rem; margin-left:1rem;" class="table" id="testTbody">
    <thead>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col" th:each="column: ${BS.columns}" th:text="${column.getColumnName()}">3기</th>
    </thead>
    <tbody>
    <tr th:each="row : ${BS.rows}">
      <td th:text="${row.getDocType()}"></td>
      <td th:text="${row.getRowName()}"/>
      <td th:each="cell: ${row.getCells()}" th:text="${cell.getValue()}"/>
    </tr>
    </tbody>
  </table>

<table style="border: 12rem; margin-left:1rem;" class="table" id="testTbody">
  <thead>
  <th scope="col"></th>
  <th scope="col"></th>
  <th scope="col" th:each="column: ${IS.columns}" th:text="${column.getColumnName()}">3기</th>
  </thead>
  <tbody>
  <tr th:each="row : ${IS.rows}">
    <td th:text="${row.getDocType()}"></td>
    <td th:text="${row.getRowName()}"/>
    <td th:each="cell: ${row.getCells()}" th:text="${cell.getValue()}"/>
  </tr>
  </tbody>
</table>

<table style="border: 12rem; margin-left:1rem;" class="table" id="testTbody">
  <thead>
  <th scope="col"></th>
  <th scope="col"></th>
  <th scope="col" th:each="column: ${CIS.columns}" th:text="${column.getColumnName()}">3기</th>
  </thead>
  <tbody>
  <tr th:each="row : ${CIS.rows}">
    <td th:text="${row.getDocType()}"></td>
    <td th:text="${row.getRowName()}"/>
    <td th:each="cell: ${row.getCells()}" th:text="${cell.getValue()}"/>
  </tr>
  </tbody>
</table>


</body>
</html>